@page
@model IndexModel
@{
    ViewData["Title"] = "Iniciar Bot";
}

    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
        <script>
            //Variaveis
            let dbexiste = "@Model.dbexiste";
        </script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>if (window.module) module = window.module;</script>
    </head>
    <body>
        <br />
        <br />
        <video id="myVideo" autoplay muted>
            <source src="~/videos/video.mp4" type="video/mp4">
        </video>

        <div id="formulario" class="content text-center">
            <form id="login" class="form-signin fundo" method="post">
                <div id="resposta">

                </div>
                <img class="mb-4 dia" src="~/images/dia.jpg">
                <h1 class="h3 mb-3 font-weight-normal">Kudsawa Daiya</h1>
                @*<div class="checkbox mb-3">
                    <label>
                        <input name="lembrar" type="checkbox" value="lembrar"> Lembrar
                    </label>
                </div>*@
            <button id="iniciarbt" class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-play fa-xs"></i> Iniciar</button>
                <br />
                <button class="btn btn-sm btn-secondary btn-block" onclick="configuracoesOnClick();"><i class="fas fa-cog"></i> Configurações</button>
                <button class="btn btn-sm btn-secondary btn-block" onclick="happyOnClick();">Happy 😉</button>
            </form>
            <br />
            <br />
        </div>

        <div id="configuracao" class="content text-center" hidden>
            <form id="confform" class="form-conf fundo" method="post">
                <i class="fas fa-user-tag fa-2x" style="color: #845ef7;"></i>
                <br />
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Token:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Prefixo:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">ID Dono:</span>
                                </div>
                                <input type="text" class="form-control" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <i class="fas fa-database fa-2x" style="color: #845ef7;"></i>
                <br />
                <br />

            </form>
        </div>
    </body>
