@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <form method="post">
        <button type="button" class="btn btn-primary">Ligar</button>
    </form>
</div>
