@using BlazorGUI.Core.Extensions;
@page "/blazor/admin"


<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <textarea class="span6 w-100 form-control" rows="20" value="@LogHub.LogHistoric"></textarea>
            <br />
        </div>
    </div>@*
    <div class="row">
        <div class="col-lg">
            <input type="text" class="form-control w-100" />
        </div>
        <div class="col-lg">
            <input type="number" class="form-control w-100" />
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary mb-2">Enviar Comando</button>
        </div>
    </div>
              *@
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        LogHub.EventLog += Atualizar;
    }

    public void Atualizar()
    {
        InvokeAsync(StateHasChanged);
    }

}
